html
  display block
  
body
  margin 0
  padding 25px
  
div[timeline]
  height 6px
  background #efefef
  
  ul
    list-style none
    height 35px
    position relative

    li
      display inline-block
      position absolute

      width 20px
      height 15px

      margin-top -43px
      padding-top 70px
      text-align center

      background url('../../resources/Drop_clip_art_grey.svg')
      background-repeat no-repeat
      background-position center

      cursor pointer
      transtition ease-in .5s

      &:hover, &:active
        background url('../../resources/Drop_clip_art_blue.svg')
        background-repeat no-repeat
        background-position center
        .time, .position
          color #008cff

      .time
        margin-left -50%
        font-size 12px

      .position
        display: inline-block
        margin-left -50%
        width 200%
        font-size 12px

