html
  display block
  
body
  margin 0
  padding 25px
  
div[timeline]
  height 6px
  background #efefef
  
  ul
    list-style none
    height 35px
    position relative

    li
      display inline-block
      position absolute

      width 20px
      height 15px

      margin-top -40px
      padding-top 70px
      transform-origin -100% 0 0

      text-align center
      vertical-align middle

      background url('../../resources/Drop_clip_art_grey.svg')
      background-repeat no-repeat
      background-position center

      cursor pointer

      .time
        margin-left -50%